<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<div class="container-fluid">
    <div class="row-content">
        <div th:replace="fragments/navbar :: navbar">
        </div>
        <br>
        <div class="col-sm-9">
            <div class="well">
                <h2>Agence editor</h2>

                <div>
                    <form class="form-horizontal" th:object="${agence}" th:action="@{/admin/agence/save}" method="post">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="hidden" class="form-control" th:field="*{id}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nom agence:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{nom}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">chef d'agence:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{nom_dir}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">adresse d'agence:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{adresse}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">mobile d'agence:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{num_mobile}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">fix d'agence:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{num_fixe}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">fax d'agence:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{fax}"/>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

