<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<div class="container-fluid">
    <div class="row-content">
        <div th:replace="fragments/navbar :: navbar">
        </div>
        <br>
        <div class="col-sm-9">
            <div class="well">
                <h4>agences</h4>
                <p>La liste des agences disponible </p>
                <a th:href="${'/admin/agence/add'}" class="btn btn-default">New agence</a>
                <div th:if="${not #lists.isEmpty(agences)}">

                    <h2>All agences</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>nom</th>
                            <th>adresse</th>
                            <th>chef d'agence</th>
                            <th>num_fixe</th>
                            <th>num_mobile</th>
                            <th>fax</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr th:each="agence : ${agences}">
                            <td th:text="${agence.id}">Id</td>
                            <td th:text="${agence.nom}">nom</td>
                            <td th:text="${agence.adresse}">nom</td>
                            <td th:text="${agence.getNom_dir()}">nom</td>
                            <td th:text="${agence.num_fixe}">num_fixe</td>
                            <td th:text="${agence.num_mobile}">num_mobile</td>
                            <td th:text="${agence.fax}">fax</td>
                            <td><a th:href="${'/admin/agence/edit/' + agence.id}" class="btn btn-default">Edit</a></td>
                            <td><a th:href="${'/admin/agence/delete/' + agence.id}" class="btn btn-danger">Delete</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


