<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fiches</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<div class="container-fluid">
    <div class="row-content">
        <div th:replace="fragments/navbar :: navbar">
        </div>
        <br>
        <div class="col-sm-9">
            <div class="well">
                <h4>fiches</h4>
                <p>Mes fiches </p>
                <a th:href="${'/director/fiche/add'}" class="btn btn-default">New fiche</a>
                <div th:if="${not #lists.isEmpty(fiches)}">

                    <h2>Mes fiches</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>user</th>
                            <th>grade</th>
                            <th>position</th>
                            <th>Nouvelle affectation</th>
                            <th>date_debut</th>
                            <th>date_fin</th>
                            <th>access</th>
                            <th>nom_dir_ag</th>
                            <th>status</th>
                        </tr>
                        <tr th:each="fiche : ${fiches}">
                            <td th:text="${fiche.id}">Id</td>
                            <td th:text="${fiche.user.name  +' '+ fiche.user.lastName }">Id</td>
                            <td th:text="${fiche.grade}">grade</td>
                            <td th:text="${fiche.position}">position</td>
                            <td th:text="${fiche.nouvelle_affectation}">Nouvelle affectation</td>
                            <td th:text="${fiche.date_debut}">date_debut</td>
                            <td th:text="${fiche.date_fin}">date_fin</td>
                            <td th:text="${fiche.access}">access</td>
                            <td th:text="${fiche.nom_dir_ag}">nom_dir_ag</td>
                            <td th:text="${fiche.status}">status</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

