<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<div class="container-fluid">
    <div class="row-content">
        <div th:replace="fragments/navbar :: navbar">
        </div>
        <br>
        <div class="col-sm-9">
            <div class="well">
                <h4>agences</h4>
                <p>La liste des agences disponible </p>
                <a th:href="${'/admin/agence/add'}" class="btn btn-default">New agence</a>
                <div th:if="${not #lists.isEmpty(users)}">
                    <h2>All users</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>nom</th>
                            <th>prenom</th>
                            <th>Email</th>
                            <th>agence</th>
                            <th>status</th>
                            <th>role</th>
                            <th>Activate</th>
                        </tr>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}">Id</td>
                            <td th:text="${user.name}">nom</td>
                            <td th:text="${user.lastName}">prenom</td>
                            <td th:text="${user.email}">email</td>
                            <td th:text="${user.active}">status</td>
                            <td th:text="${user.agence.nom}">agence</td>
                            <td th:text="${user.roles[0].role}">nom</td>
                            <td><a th:href="${'/admin/user/activate/' + user.id}" class="btn btn-default">Activate</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



