<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Archives</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<div class="container-fluid">
    <div class="row-content">
        <div th:replace="fragments/navbar :: navbar">
        </div>
        <br>
        <div class="col-sm-9">
            <div class="well">
                <h4>Archives</h4>

                <div th:if="${not #lists.isEmpty(archives)}">

                    <h2>Archives</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>par</th>
                            <th>grade</th>
                            <th>Nouvelle affectation</th>
                            <th>Date reponse</th>
                            <th>date_debut</th>
                            <th>date_fin</th>
                            <th>access</th>
                            <th>nom_dir_ag</th>
                            <th>etat</th>
                        </tr>
                        <tr th:each="archive : ${archives}">
                            <td th:text="${archive.id}">Id</td>
                            <td th:text="${archive.fiche.user.name}">par</td>
                            <td th:text="${archive.fiche.grade}">Grade</td>
                            <td th:text="${archive.fiche.nouvelle_affectation}">Nouvelle affectation</td>
                            <td th:text="${archive.date_reponse}">Date reponse</td>
                            <td th:text="${archive.fiche.date_debut}">date_debut</td>
                            <td th:text="${archive.fiche.date_fin}">date_fin</td>
                            <td th:text="${archive.fiche.access}">access</td>
                            <td th:text="${archive.fiche.nom_dir_ag}">nom_dir_ag</td>
                            <td th:text="${archive.fiche.status}">etat</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

